festival_image_classification_v5.keras
festival_image_classification_v6.keras
festival_image_classification_v7.keras
festival_image_classification_v8.keras
dtree_model.pkl
knn_model.pkl
rf_model.pkl
static/imgs
.env